<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="icon.jpg" type="image/jpg" />
		<link rel="stylesheet" href="/style.css" />
		<link rel="stylesheet" href="/login-style.css" />
		<link rel="stylesheet" href="/message-form.css" />
		<title><%= title %></title>
	</head>
	<body>
		<%- include('partials/errors') %>
		<h1>Become a Black Hoodie</h1>
		<form action="/home/membership" method="post">
			<div class="form-group field">
				<input
					type="password"
					name="secret"
					id="secret"
					class="form-field"
					required=""
				/>
				<label for="secret" class="form-label">Secret Passcode</label>
			</div>
			<button type="submit" class="button">Submit Passcode</button>
		</form>
		<a href="/home">
			<button type="" class="button">Back</button>
		</a>
		<%- include('footer') %>
	</body>
</html>
