<nav>
	<h1>BLACK HOODIE GANG</h1>
	<div class="buttons">
		<a href="/home/new-message">
			<button>New Message</button>
		</a>
		<% if(membership === 'guest') { %>
		<a href="/home/membership">
			<button>Become member</button>
		</a>
		<% } %>
		<a href="/home/logout"><button>Log Out</button></a>
	</div>
</nav>
