main {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 85vh;
	overflow: auto;
	margin-bottom: 2rem;
	color: black;
}

main ul {
	list-style-type: none;
}

main ul li {
	padding: 3rem;
	margin-bottom: 1rem;
	width: 50rem;
	background-color: white;
	border-radius: 1.5rem;
}

.user-deletebutton {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 750px) {
	main {
		height: 80vh;
	}
	main ul li {
		width: 50rem;
	}
}

@media screen and (max-width: 520px) {
	main {
		height: 80vh;
	}
	main ul li {
		width: 30rem;
	}
}
